*.beam
friendfs.boot
friendfs.rel.backup
friendfs.script
friendfs.tar.gz
friendfs.rel
rts
rts.backup
erl_crash.dump
*.app
*~
*#
.make.cache
bin
erts-*
lib/kernel-*
lib/runtime_tools-*
lib/sasl-*
lib/stdlib-*
log
releases
