friendfs.boot
friendfs.rel.backup
friendfs.script
friendfs.tar.gz
friendfs.rel
rts
rts.backup
erl_crash.dump
*.app
*~
*#
.#*
.make.cache
.nfs*
bin
erts-*
lib/kernel-*
lib/runtime_tools-*
lib/sasl-*
lib/stdlib-*
lib/appmon-*
lib/gs-*
lib/crypto-*
lib/friendfs-*
lib/fuserl-*/ebin
lib/*.plt
friendfs/ebin
log
releases
docs
patches