Gnupgkey 0xEF8S82332
Secret friendfs-secret-code-word

# This is a temporary filesystem example
<Filesystem temp>
  Comment "Temp filesystem"
  Ratio 1
</Filesystem>

<Storage temp1>
  Comment "File system 1"
  Url "file://tmp/ffs_data"
  Quota 10Mb
</Storage>

